p{
    width: 50%;
}
.head{
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    
}
.head > p:nth-child(1){
    font-size: 15px;
    font-weight: 500;
}
.head > p:nth-child(2){
    direction: rtl;
    font-size: 15px;
    font-weight: 500;
    color: blue;
}
.filterBlock{
    width:230px;
    background-color: white;
    padding:20px;
    border:1px solid lightgrey;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 5px; */
}
hr{
    height: 1.5px;
    background-color: lightgrey;
    border:none;
}
div > label,div > input[type='date']{
    width: 230px;
    display: block;
    
    color: #4e4a4a;
    font-weight: bold;
    padding:10px;
}
div> input[type='date']{
    margin-bottom: 10px;
    padding: 8px;
    width: 215px;
    border-radius: 8px;
    border-color: lightgray;
    border:1px solid #262626;
}

div > select{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: lightgray;
    width: 100%;
    font-family: sans-serif;
}
div > select > option{
    font-size: 100%;
    padding: 10px;
}
select{
    appearance: none;
}
label{
    text-transform: uppercase;
}
.show{
  width: 100%;
  background-color: black;
  color:white;
  outline:none;
  padding:10px;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 10px;
}
.reset{
    cursor: pointer;
}