body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(199, 204, 204, 0.671);
}

.title{
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}
/* div.len{
  height: 100px;
  box-shadow: 2px 3px 10px 10px rgba(175, 168, 168, 0.466);
  background-color: rgba(221, 212, 212, 0.082);
} */
/* header*/
.btn{
  color: antiquewhite;
  background: black;
  border: 1px black;
  border-radius: 5%;
}
.head{
  padding:5px;
  height:40px;
  background-color:#fdfdfd;
}
/* .remove{
  align-content: right;
} */
/* FEED */

.card {
  width: 700px;
  font-family: sans-serif;
  background-color: #fff;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 5px rgba(224, 217, 217, 0.651);
  margin-bottom: 10px;

}

.news-title {
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  font-family: serif;
  justify-content: space-between;
}

.refer {
  font-weight: bolder;
}

img {
  width: 200px;
  height: 100%;
  margin-left: 10px;
}

.image {
  display: flex;
  justify-content: space-between;
}

.image a {
  color: blue;
  text-decoration: underline;
}

.desc {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.auth {
  overflow: hidden;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(124, 126, 128);
  /* padding-bottom: 2px; */
  /* margin-bottom: 13px; */
}

.news-image {
  width: 200px;
}

.right {
  width: 450px;
  text-align: justify;
}
.cross {
  cursor: pointer;
}
.links{
  text-align: justify;
  overflow: hidden;
}
h4{
  text-align: center;
}
.filter{
  width: 300px;
}
.container{
  height: 110% ;
    display:flex;
    flex-direction: row;
    background-color:whitesmoke;
    padding:20px 0px 0px 230px;
}
.news-pannel{
    flex: 50%;
    margin-left: 25px;
}
.panels{
  text-align: right;
}